.gtext{
    width: 100%;
    height: 100%;
    position: relative;

    --textAlign: center;
    --textVertical: center;
    --textHorizontal: center;
    --textSize:1rem;

    --textWidth: auto;
    --textFont: var(--fontText);

    --textBackground: none;
    --textColor: none;
    --textPadding: 0;    
    --textLineHeight: inherit;
    --textSpaceChar: inherit;
    --textBorderTop: none;
    --textBorderLeft: none;
    --textBorderRight: none;
    --textBorderBottom: none;
    --textBorderRadius: 0; 
    --textShadow: none;   
    --textBlend: none; 
    --textClamp: 0;  
}


.promise{
  visibility: hidden;
}

.inner{
    position: relative;
    width: 100%;
    height: 100%;
}

.pretext{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: var(--textVertical);
    justify-content: var(--textHorizontal);
}

.textbox{
    text-align: var(--textAlign);
    /*overflow: hidden; */ /* removed for shadow, maybe neccessary */
    font-size: var(--textSize);
    font-family: var(--textFont);

    --backmark: var(--colorAccent);
    --foremark: var(--colorBack);
    --textaccentcolor: var(--colorAccent);
    width: var(--textWidth);
}

.itext{
    padding: var(--textPadding);

    background: var(--textBackground);
    color: var(--textColor);
    line-height: var(--textLineHeight);
    letter-spacing: var(--textSpaceChar);

    border-top: var(--textBorderTop);
    border-left: var(--textBorderLeft);
    border-right: var(--textBorderRight);
    border-bottom: var(--textBorderBottom);
    border-radius: var(--textBorderRadius);
    
    text-shadow: var(--textShadow);
    mix-blend-mode: var(--textBlend);
}



/* INLINE STYLES */
.marked span{
  background: var(--textAccent);
  color: var(--textColor);
}
.uppercase{
  text-transform: uppercase;
}
.underline{
  text-decoration: underline;
  text-decoration-color: var(--textColor);
}

.clamp{
  overflow: hidden;
  -webkit-line-clamp: var(--textClamp);
  display: -webkit-box;
  -webkit-box-orient: vertical;
}