:root{
    --imagePosition: center;
    --imageFilter: none;
    --imageScale: 1;
    --imageSize: cover;
}


.image{
    width: 100%;
    height: 100%;
}

.inner{
    display: flex;
    width: 100%;
    height: 100%;
}

.preimg{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.preimg img{
    width: calc(var(--imageScale) * 100%);
    height: calc(var(--imageScale) * 100%);

    object-fit: var(--imageSize);
    object-position: var(--imagePosition);

    filter: var(--imageFilter);
}

