:root{
    --imagePadding: 0;
    --imageBorder: none;
    --imageShadow: none;
    --imageSize: cover;
    --imagePosition: center;
}


.image{
    width: 100%;
    height: 100%;
}

.inner{
    display: flex;
    width: 100%;
    height: 100%;
}

.preimg{
    overflow: hidden;
    flex:1;
    padding: var(--imagePadding);
}
.preimg img{
    width: 100%;
    height:100%;
    border: var(--imageBorder);
    box-shadow: var(--imageShadow);

    object-fit: var(--imageSize);
    object-position: var(--imagePosition);
}