:root{
    --imagePadding: 0;
    --imageBorder: none;
    --imageShadow: none;
}


.image{
    width: 100%;
    height: 100%;
}

.inner{
    display: flex;
    width: 100%;
    height: 100%;
}

.preimg{
    overflow: hidden;
    flex:1;
    padding: var(--imagePadding);
}
.preimg img{
    width: 100%;
    height:100%;
    border: var(--imageBorder);
    box-shadow: var(--imageShadow);
}