.presenta * {
  box-sizing: border-box;
}


.presenta {
  position: relative;
  /* width: 100%;
    height: 100%; */
  
  --presenta-pw: 960;
  --presenta-w: 960px;
  --presenta-h: 540px;
  --presenta-vp: 960;
  --presenta-fz: 1;
  --presenta-p: calc(var(--presenta-pw) / var(--presenta-vp));
  /* --sw: calc(var(--w) / var(--p) / var(--fz));
  --sh: calc(var(--h) / var(--p) / var(--fz));
  --scal: calc(var(--pw) / var(--p) / var(--pw) / var(--fz)); */
}


.presenta h1,
.presenta h2,
.presenta h3,
.presenta h4,
.presenta h5,
.presenta h6,
.presenta p
{
  line-height: inherit;
  border: inherit;
}