.shape{
    --shapeColor: var(--colorFore);
    
    width: 100%;
    height: 100%;
}

.el{
    background: var(--shapeColor);
    width: 100%;
    height: 100%;
}

.circle{
    clip-path: ellipse(50% 50% at 50% 50%);
}
.triangle{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.rhombus{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


