.pagenum{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;

    display: flex;
    align-items: flex-end; 

    pointer-events: none;

    
}



.pagenum .content{
    width: 100%;

    text-align: var(--pagenumTextAlign);
    padding: var(--pagenumPadding);
    font-size: var(--pagenumFontSize);

    color: var(--pagenumColor);
    font-family: var(--pagenumFont);

    background-color: var(--pagenumBackColor);
}
