.scheme__acid,
.scheme__acid .colorvar__a,
.scheme__acid.colorvar__a {
  --backcolor: #000;
  --forecolor: #fff;
  --accentcolor: #EEFF2E;
  --otheraccentcolor: #DE1318;
}
.scheme__acid .colorvar__b,
.scheme__acid.colorvar__b {
  --backcolor: #EEFF2E;
  --forecolor: #000;
  --accentcolor: #DE1318;
  --otheraccentcolor: #fff;
}
.scheme__acid .colorvar__c,
.scheme__acid.colorvar__c {
  --backcolor: #DE1318;
  --forecolor: #EEFF2E;
  --accentcolor: #fff;
  --otheraccentcolor: #000;
}