.scheme__doub,
.scheme__doub .colorvar__a,
.scheme__doub.colorvar__a {
  --backcolor: #E5FF9D;
  --forecolor: #1C003F;
  --accentcolor: #69567C;
  --otheraccentcolor: #fff;
}
.scheme__doub .colorvar__b,
.scheme__doub.colorvar__b {
  --backcolor: #1C003F;
  --forecolor: #fff;
  --accentcolor: #E5FF9D;
  --otheraccentcolor: #69567C;
}
.scheme__doub .colorvar__c,
.scheme__doub.colorvar__c {
  --backcolor: #69567C;
  --forecolor: #E5FF9D;
  --accentcolor: #fff;
  --otheraccentcolor: #1C003F;
}