.scheme__original,
.scheme__original .colorvar__a,
.scheme__original.colorvar__a {
  --backcolor: #ebded1;
  --forecolor: #0a47d1;
  --accentcolor: #fb4138;
  --otheraccentcolor: #ffffff;
}
.scheme__original .colorvar__b,
.scheme__original.colorvar__b {
  --backcolor: #0a47d1;
  --forecolor: #ebded1;
  --accentcolor: #ffffff;
  --otheraccentcolor: #fb4138;
}
.scheme__original .colorvar__c,
.scheme__original.colorvar__c {
  --backcolor: #fb4138;
  --forecolor: #ffffff;
  --accentcolor: #ebded1;
  --otheraccentcolor: #0a47d1;
}