.scheme__vibrant,
.scheme__vibrant .colorvar__a,
.scheme__vibrant.colorvar__a {
  --backcolor: #ffe600;
  --forecolor: #000;
  --accentcolor: #ff6400;
  --otheraccentcolor: #fff;
}
.scheme__vibrant .colorvar__b,
.scheme__vibrant.colorvar__b {
  --backcolor: #000;
  --forecolor: rgb(255, 230, 0);
  --accentcolor: #fff;
  --otheraccentcolor: rgb(255, 100, 0);
}
.scheme__vibrant .colorvar__c,
.scheme__vibrant.colorvar__c {
  --backcolor: rgb(255, 100, 0);
  --forecolor: #fff;
  --accentcolor: rgb(255, 230, 0);
  --otheraccentcolor: #000;
}