:root{
    --embedPadding: 0;
    --embedBackcolor: none;
    --embedPosterSize:cover;
    --embedPosterPosition:center;
}

.inner{
    padding: var(--embedPadding);
    position: relative;
}

.frame{
    background-color: var(--embedBackcolor);
    position: relative;
}

.embed, .inner, .frame{
    width: 100%;
    height: 100%;
}

.frame > iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.loading{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--colorFore);
    font-family: var(--fontText);
    background-color: var(--colorBack);
}

.loading mark{
    background-color: var(--colorAccent);
    color:var(--colorBack);
}

.blockmouse{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.poster{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--colorBack);

    
}
.poster img{
    width: 100%;
    height: 100%;

    object-fit: var(--embedPosterSize);
    object-position: var(--embedPosterPosition);
}
