.minitoolsPosition__tl{
    --minitoolsFlexAlign: flex-start;
    --minitoolsFlexJustify: flex-start;
}
.minitoolsPosition__tc{
    --minitoolsFlexAlign: flex-start;
    --minitoolsFlexJustify: center;
}
.minitoolsPosition__tr{
    --minitoolsFlexAlign: flex-start;
    --minitoolsFlexJustify: flex-end;
}
.minitoolsPosition__cl{
    --minitoolsFlexAlign: center;
    --minitoolsFlexJustify: flex-start;
}
.minitoolsPosition__cc{
    --minitoolsFlexAlign: center;
    --minitoolsFlexJustify: center;
}
.minitoolsPosition__cr{
    --minitoolsFlexAlign: center;
    --minitoolsFlexJustify: flex-end;
}
.minitoolsPosition__bl{
    --minitoolsFlexAlign: flex-end;
    --minitoolsFlexJustify: flex-start;
}
.minitoolsPosition__bc{
    --minitoolsFlexAlign: flex-end;
    --minitoolsFlexJustify: center;
}
.minitoolsPosition__br{
    --minitoolsFlexAlign: flex-end;
    --minitoolsFlexJustify: flex-end;
}
