:root{
    --minitoolsTextAlign: right;
    --minitoolsPadding: 5px;
    
    --minitoolsBackColor: none;

    --minitoolsFlexAlign: flex-end;
    --minitoolsFlexJustify: flex-end;
}

.minitools{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    padding-top: var(--containerPaddingTop);
    padding-left: var(--containerPaddingLeft);
    padding-right: var(--containerPaddingRight);
    padding-bottom: var(--containerPaddingBottom);
    pointer-events: none;
}

.inner{
    width: 100%;
    height: 100%;
    padding: var(--minitoolsPadding);
    display: flex;
    align-items: var(--minitoolsFlexAlign);
    justify-content: var(--minitoolsFlexJustify);
}


.content{
    text-align: var(--minitoolsTextAlign);
    padding: var(--minitoolsInnerPadding);

    color: var(--minitoolsColor);

    background-color: var(--minitoolsBackColor);
    border: var(--minitoolsBorder);
    border-radius: var(--minitoolsBorderRadius);

    transition: all .3s ease-in-out;
}
