:root{
    --pagenumTextAlign: right;
    --pagenumPadding: 5px;
    --pagenumFontSize: 10px;
    
    --pagenumBackColor: none;
    --pagenumFont: var(--fontText);
}

.pagenum{
    --pagenumColor: var(--forecolor);

    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;

    display: flex;
    align-items: flex-end; 

    pointer-events: none;
}



.content{
    width: 100%;

    text-align: var(--pagenumTextAlign);
    padding: var(--pagenumPadding);
    font-size: var(--pagenumFontSize);

    color: var(--pagenumColor);
    font-family: var(--pagenumFont);

    background-color: var(--pagenumBackColor);

    transition: all .3s ease-in-out;
}
