:root {
  --blockWeight: 1;
  --blockPadding: 0;
  --blockOpacity: 1;
  --blockBlend: unset;
}

.blockVar__a {
  --blockPadding: 0.5rem;
}

.blockVar__b {
  --blockPadding: 1.5rem;
}

.blockVar__c {
  --blockPadding: 3rem;
}
.blockVar__d {
  --blockPadding: 0 3rem 3rem 0;
}
.blockVar__e {
  --blockPadding: 2rem 0rem 2rem 0rem;
}
.blockVar__f {
  --blockPadding: 1rem 0rem 3rem 0rem;
}
