
.transition__a{
  .p-scene-enter-transition {
    transition: transform 1s easeInOutExpo;
  }
  .to-right.p-scene-enter-start {
    transform: translateX(100%);
  }
  .to-right.p-scene-enter-end {
    transform: translateX(0);
  }
  .to-left.p-scene-enter-start {
    transform: translateX(-100%);
  }
  .to-left.p-scene-enter-end {
    transform: translateX(0);
  }

  .p-scene-leave-transition {
    transition: transform 1s easeInOutExpo;
  }
  .to-right.p-scene-leave-start {
    transform: translateX(0);
  }
  .to-right.p-scene-leave-end {
    transform: translateX(-100%);
  }
  .to-left.p-scene-leave-start {
    transform: translateX(0);
  }
  .to-left.p-scene-leave-end {
    transform: translateX(100%);
  }
}
