
.transition__fadeIn{
  
  .p-scene-enter-transition {
    transition: opacity .75s cubic-bezier(0.2, 0.8, 0.05, 0.95);
  }
  .to-right.p-scene-enter-start {
    opacity: 0;
    transform: translate(0,0);
  }
  .to-right.p-scene-enter-end {
    opacity: 1;
  }
  .to-left.p-scene-enter-start {
    opacity: 0;
    transform: translate(0,0);
  }
  .to-left.p-scene-enter-end {
    opacity: 1;
  }

  // .p-scene-leave-transition {
  //   transition: opacity .75s cubic-bezier(0.87, 0, 0.13, 1);
  // }
  // .to-right.p-scene-leave-start {
  //   opacity: 1;
  // }
  // .to-right.p-scene-leave-end {
  //   opacity: 0;
  // }
  // .to-left.p-scene-leave-start {
  //   opacity: 1;
  // }
  // .to-left.p-scene-leave-end {
  //   opacity: 0;
  // }
}
