.black{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;

    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s cubic-bezier(0.8, 0.2, 0.2, 0.8);
}