:root {
  --scenePadding: 0;
  --sceneBackColor: none;
}

.sceneVar__a {
  --scenePadding: 0.5rem;
  --sceneBackColor: var(--forecolor);
}
.sceneVar__b {
  --scenePadding: 2rem;
  --sceneBackColor: var(--forecolor);
}
.sceneVar__c {
  --scenePadding: 3.5rem;
  --sceneBackColor: var(--forecolor);
}
.sceneVar__d {
  --scenePadding: 0 4rem 4rem 0;
  --sceneBackColor: var(--forecolor);
}
.sceneVar__e {
  --scenePadding: 4rem 0rem 4rem 0rem;
  --sceneBackColor: var(--forecolor);
}
