.textVar__a {
  --textPadding: 0rem;
  --textAlign: center;
  --textListAlign: center;
  --textFlexAlign: center;
  --textFlexJustify: center;
  --textSize: 2.5rem;
}



.textVar__b {
  --textPadding: 2rem;
  --textAlign: left;
  --textListAlign: left;
  --textFlexAlign: flex-start;
  --textFlexJustify: flex-start;
  --textSize: 1rem;
}


.textVar__c {
  --textPadding: 2rem;
  --textAlign: right;
  --textListAlign: right;
  --textFlexAlign: flex-start;
  --textFlexJustify: flex-end;
  --textSize: 2rem;
}


.textVar__d {
  --textPadding: 2rem;
  --textAlign: left;
  --textListAlign: left;
  --textFlexAlign: flex-end;
  --textFlexJustify: flex-start;
  --textSize: 1.5rem;
}


.textVar__e {
  --textPadding: 2rem;
  --textAlign: center;
  --textListAlign: center;
  --textFlexAlign: flex-end;
  --textFlexJustify: center;
  --textSize: 0.8rem;
}




.textStyle__a {
  --textboxpadding: 0;
  --textboxbackcolor: var(--colorFore);
  --textboxradius: 0;
  --textboxborder: 0;
  --textboxshadow: 0 0 0 var(--colorAccent);
  --textboxcolor: var(--colorBack);
}
