:root{
    --textsize:1.5rem;
    --textpadding: 1rem;
    --textalign: center;
}

.p-scene-enter-transition .textContent > * {
    transition: opacity .5s ease-in-out;
    transition-delay: .25s;
}
.p-scene-enter-start .textContent > * {
    opacity: 0;
}
.p-scene-enter-end .textContent > * {
    opacity: 1;
}

.p-scene-leave-transition .textContent > * {
    transition: opacity .25s;
}
.p-scene-leave-start .textContent > * {
    opacity: 1;
}
.p-scene-leave-end .textContent > * {
    opacity: 0;
}

$pvar: p, s, b, g;
@each $p in $pvar {
    .#{$p}.textposition__topleft .pretext,
    .#{$p}.textposition__tl .pretext{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .#{$p}.textposition__topcenter .pretext,
    .#{$p}.textposition__tc .pretext{
        align-items: flex-start;
        justify-content: center;
    }
    .#{$p}.textposition__topright .pretext,
    .#{$p}.textposition__tr .pretext{
        align-items: flex-start;
        justify-content:  flex-end;
    }

    .#{$p}.textposition__centerleft .pretext,
    .#{$p}.textposition__cl .pretext{
        align-items: center;
        justify-content: flex-start;
    }
    .#{$p}.textposition__center .pretext,
    .#{$p}.textposition__cc .pretext{
        align-items: center;
        justify-content: center;
    }
    .#{$p}.textposition__centerright .pretext,
    .#{$p}.textposition__cr .pretext{
        align-items: center;
        justify-content:  flex-end;
    }

    .#{$p}.textposition__bottomleft .pretext,
    .#{$p}.textposition__bl .pretext{
        align-items: flex-end;
        justify-content: flex-start;
    }
    .#{$p}.textposition__bottomcenter .pretext,
    .#{$p}.textposition__bc .pretext{
        align-items: flex-end;
        justify-content: center;
    }
    .#{$p}.textposition__bottomright .pretext,
    .#{$p}.textposition__br .pretext{
        align-items: flex-end;
        justify-content:  flex-end;
    }
}