@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans&display=swap');
.fontkit__fk4{
  --fontHeading: 'Amatic SC', cursive;
  --fontText: 'Open Sans', sans-serif;
}
.fontkit__fk4 h1,
.fontkit__fk4 h2,
.fontkit__fk4 h3 {
  font-size:3rem;
}