:root{
    --videoSize:cover;
    --videoPosition:center;
}

.video{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.video video{
    width: 100%;
    height: 100%;

    object-fit: var(--videoSize);
    object-position: var(--videoPosition);
}