:root{
    --progressbarHeight: 5px;
    --progressbarBottom: initial; /* set to 0 to bottom */
}

.progressbar{
    --progressbarColor: var(--forecolor);    

    width: 100%;
    height: 100%;
    pointer-events: none;    
}

.bar{
    width: 0;
    height: var(--progressbarHeight);
    position: absolute;
    bottom: var(--progressbarBottom);
    left:0;

    background-color: var(--progressbarColor);
    transition: width .5s cubic-bezier(0.8, 0.2, 0.2, 0.8);
}