/* Simple Block, doesn't work */
/* .layout__a .layout {
  display: block;
}
.layout__a .layout > div {
  height: initial;
} */

/* Default, Blocks as Columns if landscape, Rows if portrait*/
.layout {
  display: flex;
}
.layout > div {
  height: 100%;
}
.landscape .layout{
  flex-direction: row;
}
.portrait .layout{
  flex-direction: column;
}


/* Blocks as Columns */
.layout__cols .layout {
  display: flex;
  flex-direction: row;
}
.layout__cols .layout > div {
  height: 100%;
}



/* Blocks as Rows */
.layout__rows .layout {
  display: flex;
  flex-direction: column;
}
.layout__rows .layout > div {
  width: 100%;
}



/* Quick stack with two blocks, typically an image and a text */
.layout__stack .layout {
  position: relative;
}
.layout__stack .layout > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layout__stack .layout > div:not(:first-child) {
  background: none;
}
.layout__stack .layout > div:first-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorBack);
  opacity: .7;
}



/* Many Blocks Stacked */
.layout__pile .layout {
  position: relative;
}
.layout__pile .layout > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/*
2 blocks
- header
- content
*/

.layout__head .layout {
  display: flex;
  flex-direction: column;
}
.layout__head .layout > div {
  width: 100%;
}
.layout__head .layout > div:first-child {
}
.layout__head .layout > div:last-child {
  flex:5;
}


/*
2 blocks
- content
- footer
*/

.layout__foot .layout {
  display: flex;
  flex-direction: column;
}
.layout__foot .layout > div {
  width: 100%;
}
.layout__foot .layout > div:first-child {
  flex:5;
}
.layout__foot .layout > div:last-child {
}


/*
2 blocks
- left main
*/

.layout__left .layout {
  display: flex;
  flex-direction: row;
}
.layout__left .layout > div {
  width: 100%;
}
.layout__left .layout > div:first-child {
  flex:2;
}
.layout__left .layout > div:last-child {
}


/*
2 blocks
- right main
*/

.layout__right .layout {
  display: flex;
  flex-direction: row;
}
.layout__right .layout > div {
  width: 100%;
}
.layout__right .layout > div:first-child {
}
.layout__right .layout > div:last-child {
  flex:2;
}