.colors__adele,
.colors__adele .colorVar__main,
.presenta .colors__adele.colorVar__main {
  --colorBack: #000;
  --colorFore: #fff;
  --colorAccent: #EEFF2E;
  --colorAlt: #DE1318;
}
.colors__adele .colorVar__sec,
.presenta .colors__adele.colorVar__sec {
  --colorBack: #EEFF2E;
  --colorFore: #000;
  --colorAccent: #DE1318;
  --colorAlt: #fff;
}
.colors__adele .colorVar__alt,
.presenta .colors__adele.colorVar__alt {
  --colorBack: #DE1318;
  --colorFore: #EEFF2E;
  --colorAccent: #fff;
  --colorAlt: #000;
}