.colors__b,
.colors__b .colorVar__a,
.colors__b.colorVar__a {
  --colorBack: #a9dbd5;
  --colorFore: #000;
  --colorAccent: #fff;
  --colorAlt: #38999d;
}
.colors__b .colorVar__b,
.colors__b.colorVar__b {
  --colorBack: #000;
  --colorFore: #a9dbd5;
  --colorAccent: #fff;
  --colorAlt: #38999d;
}
.colors__b .colorVar__c,
.colors__b.colorVar__c {
  --colorBack: #fff;
  --colorFore: #38999d;
  --colorAccent: #a9dbd5;
  --colorAlt: #000;
}