.colors__cati,
.colors__cati .colorVar__main,
.colors__cati.colorVar__main {
  --colorBack: #E5FF9D;
  --colorFore: #1C003F;
  --colorAccent: #69567C;
  --colorAlt: #fff;
}
.colors__cati .colorVar__sec,
.colors__cati.colorVar__sec {
  --colorBack: #1C003F;
  --colorFore: #fff;
  --colorAccent: #E5FF9D;
  --colorAlt: #69567C;
}
.colors__cati .colorVar__alt,
.colors__cati.colorVar__alt {
  --colorBack: #69567C;
  --colorFore: #E5FF9D;
  --colorAccent: #fff;
  --colorAlt: #1C003F;
}