.colors__f,
.colors__f .colorVar__a,
.colors__f.colorVar__a {
  --backcolor: #ebded1;
  --forecolor: #0a47d1;
  --accentcolor: #fb4138;
  --otheraccentcolor: #ffffff;
}
.colors__f .colorVar__b,
.colors__f.colorVar__b {
  --backcolor: #0a47d1;
  --forecolor: #ebded1;
  --accentcolor: #ffffff;
  --otheraccentcolor: #fb4138;
}
.colors__f .colorVar__c,
.colors__f.colorVar__c {
  --backcolor: #fb4138;
  --forecolor: #ffffff;
  --accentcolor: #ebded1;
  --otheraccentcolor: #0a47d1;
}