.colors__g,
.colors__g .colorVar__a,
.colors__g.colorVar__a {
  --colorBack: #322067;
  --colorFore: #feb8ba;
  --colorAccent: #449eaf;
  --colorAlt: #fff;
}
.colors__g .colorVar__b,
.colors__g.colorVar__b {
  --colorBack: #feb8ba;
  --colorFore: #322067;
  --colorAccent: #fff;
  --colorAlt: #449eaf;
}
.colors__g .colorVar__c,
.colors__g.colorVar__c {
  --colorBack: #fff;
  --colorFore: #322067;
  --colorAccent: #449eaf;
  --colorAlt: #feb8ba;
}