.colors__g,
.colors__g .colorVar__a,
.colors__g.colorVar__a {
  --backcolor: #322067;
  --forecolor: #feb8ba;
  --accentcolor: #449eaf;
  --otheraccentcolor: #fff;
}
.colors__g .colorVar__b,
.colors__g.colorVar__b {
  --backcolor: #feb8ba;
  --forecolor: #322067;
  --accentcolor: #fff;
  --otheraccentcolor: #449eaf;
}
.colors__g .colorVar__c,
.colors__g.colorVar__c {
  --backcolor: #fff;
  --forecolor: #322067;
  --accentcolor: #449eaf;
  --otheraccentcolor: #feb8ba;
}