.colors__h,
.colors__h .colorVar__a,
.colors__h.colorVar__a {
  --backcolor: #f9ffb1;
  --forecolor: #072020;
  --accentcolor: #ec4225;
  --otheraccentcolor: #9eb0bb;
}
.colors__h .colorVar__b,
.colors__h.colorVar__b {
  --backcolor: #072020;
  --forecolor: #f9ffb1;
  --accentcolor: #ec4225;
  --otheraccentcolor: #9eb0bb;
}
.colors__h .colorVar__c,
.colors__h.colorVar__c {
  --backcolor: #ec4225;
  --forecolor: #f9ffb1;
  --accentcolor: #c5dbe9;
  --otheraccentcolor: #072020;
}