.colors__i,
.colors__i .colorVar__a,
.colors__i.colorVar__a {
  --colorBack: #ffe600;
  --colorFore: #000;
  --colorAccent: #ff6400;
  --colorAlt: #fff;
}
.colors__i .colorVar__b,
.colors__i.colorVar__b {
  --colorBack: #000;
  --colorFore: rgb(255, 230, 0);
  --colorAccent: #fff;
  --colorAlt: rgb(255, 100, 0);
}
.colors__i .colorVar__c,
.colors__i.colorVar__c {
  --colorBack: rgb(255, 100, 0);
  --colorFore: #fff;
  --colorAccent: rgb(255, 230, 0);
  --colorAlt: #000;
}