:root{    
    --solidOpacity: 1;
    --solidBlend: none;
    --solidColor: var(--accentcolor);
}

.solid{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--solidColor);
    opacity: var(--solidOpacity);
    mix-blend-mode: var(--solidBlend);
}