.noBackColor .blockInnerContainer{
  background: none;
}

.extendBlockBack .blockInnerContainer{
  background: var(--colorBack);
}


.colors__adele,
.colors__adele .colorVar__main,
.presenta .colors__adele.colorVar__main {
  --colorBack: #000;
  --colorFore: #fff;
  --colorAccent: #EEFF2E;
  --colorAlt: #DE1318;
}
.colors__adele .colorVar__sec,
.presenta .colors__adele.colorVar__sec {
  --colorBack: #EEFF2E;
  --colorFore: #000;
  --colorAccent: #DE1318;
  --colorAlt: #fff;
}
.colors__adele .colorVar__alt,
.presenta .colors__adele.colorVar__alt {
  --colorBack: #DE1318;
  --colorFore: #EEFF2E;
  --colorAccent: #fff;
  --colorAlt: #000;
}




.colors__belle,
.colors__belle .colorVar__main,
.presenta .colors__belle.colorVar__main {
  --colorBack: #a9dbd5;
  --colorFore: #000;
  --colorAccent: #fff;
  --colorAlt: #38999d;
}
.colors__belle .colorVar__sec,
.presenta .colors__belle.colorVar__sec {
  --colorBack: #000;
  --colorFore: #a9dbd5;
  --colorAccent: #fff;
  --colorAlt: #38999d;
}
.colors__belle .colorVar__alt,
.presenta .colors__belle.colorVar__alt {
  --colorBack: #fff;
  --colorFore: #38999d;
  --colorAccent: #a9dbd5;
  --colorAlt: #000;
}



.colors__blue,
.colors__blue .colorVar__main,
.presenta .colors__blue.colorVar__main {
  --colorBack: #fff;
  --colorFore: #0B24FB;
  --colorAccent:#000;
  --colorAlt: #eee;
}
.colors__blue .colorVar__sec,
.presenta .colors__blue.colorVar__sec {
  --colorBack: #0B24FB;
  --colorFore: #fff;
  --colorAccent:#b5bcff;
  --colorAlt: #eee;
}
.colors__blue .colorVar__alt,
.presenta .colors__blue.colorVar__alt {
  --colorBack: #eee;
  --colorFore: #000;
  --colorAccent:#0B24FB;
  --colorAlt: #fff;
}




.colors__bn,
.colors__bn .colorVar__main,
.presenta .colors__bn.colorVar__main {
  --colorBack: #fff;
  --colorFore: #000;
  --colorAccent: #444;
  --colorAlt: #ddd;
}
.colors__bn .colorVar__sec,
.presenta .colors__bn.colorVar__sec {
  --colorBack: #000;
  --colorFore: #fff;
  --colorAccent: #999;
  --colorAlt: #ccc;
}
.colors__bn .colorVar__alt,
.presenta .colors__bn.colorVar__alt {
  --colorBack: #444;
  --colorFore: #ffffff;
  --colorAccent: #fff;
  --colorAlt: #ccc;
}




.colors__cati,
.colors__cati .colorVar__main,
.presenta .colors__cati.colorVar__main {
  --colorBack: #E5FF9D;
  --colorFore: #1C003F;
  --colorAccent: #69567C;
  --colorAlt: #fff;
}
.colors__cati .colorVar__sec,
.presenta .colors__cati.colorVar__sec {
  --colorBack: #1C003F;
  --colorFore: #fff;
  --colorAccent: #E5FF9D;
  --colorAlt: #69567C;
}
.colors__cati .colorVar__alt,
.presenta .colors__cati.colorVar__alt {
  --colorBack: #69567C;
  --colorFore: #E5FF9D;
  --colorAccent: #fff;
  --colorAlt: #1C003F;
}



.colors__dania,
.colors__dania .colorVar__main,
.presenta .colors__dania.colorVar__main {
  --colorBack: #D0CAA9;
  --colorFore: #30302F;
  --colorAccent: #EC4A25;
  --colorAlt: #fff;
}
.colors__dania .colorVar__sec,
.presenta .colors__dania.colorVar__sec {
  --colorBack: #30302F;
  --colorFore: #D0CAA9;
  --colorAccent: #EC4A25;
  --colorAlt: #fff;
}
.colors__dania .colorVar__alt,
.presenta .colors__dania.colorVar__alt {
  --colorBack: #EC4A25;
  --colorFore: #fff;
  --colorAccent: #D0CAA9;
  --colorAlt: #30302F;
}




.colors__elane,
.colors__elane .colorVar__main,
.presenta .colors__elane.colorVar__main {
  --colorBack: #3B7BC3;
  --colorFore: #F9FB45;
  --colorAccent: #fff;
  --colorAlt: #000;
}
.colors__elane .colorVar__sec,
.presenta .colors__elane.colorVar__sec {
  --colorBack: #000;
  --colorFore: #F9FB45;
  --colorAccent: #fff;
  --colorAlt: #3B7BC3;
}
.colors__elane .colorVar__alt,
.presenta .colors__elane.colorVar__alt {
  --colorBack: #F9FB45;
  --colorFore: #000;
  --colorAccent: #3B7BC3;
  --colorAlt: #fff;
}




.colors__flo,
 .colors__flo .colorVar__main,
.presenta .colors__flo.colorVar__main {
  --colorBack: #ebded1;
  --colorFore: #0a47d1;
  --colorAccent: #fb4138;
  --colorAlt: #ffffff;
}
 .colors__flo .colorVar__sec,
.presenta .colors__flo.colorVar__sec {
  --colorBack: #0a47d1;
  --colorFore: #ebded1;
  --colorAccent: #ffffff;
  --colorAlt: #fb4138;
}
 .colors__flo .colorVar__alt,
.presenta .colors__flo.colorVar__alt {
  --colorBack: #fb4138;
  --colorFore: #ffffff;
  --colorAccent: #ebded1;
  --colorAlt: #0a47d1;
}



.colors__gina,
.colors__gina .colorVar__main,
.presenta .colors__gina.colorVar__main {
  --colorBack: #322067;
  --colorFore: #feb8ba;
  --colorAccent: #449eaf;
  --colorAlt: #fff;
}
 .colors__gina .colorVar__sec,
.presenta .colors__gina.colorVar__sec {
  --colorBack: #feb8ba;
  --colorFore: #322067;
  --colorAccent: #fff;
  --colorAlt: #449eaf;
}
 .colors__gina .colorVar__alt,
.presenta .colors__gina.colorVar__alt {
  --colorBack: #fff;
  --colorFore: #322067;
  --colorAccent: #449eaf;
  --colorAlt: #feb8ba;
}




.colors__hedy,
.colors__hedy .colorVar__main ,
.presenta .colors__hedy.colorVar__main {
  --colorBack: #f9ffb1;
  --colorFore: #072020;
  --colorAccent: #ec4225;
  --colorAlt: #9eb0bb;
}
.colors__hedy .colorVar__sec ,
.presenta .colors__hedy.colorVar__sec {
  --colorBack: #072020;
  --colorFore: #f9ffb1;
  --colorAccent: #ec4225;
  --colorAlt: #9eb0bb;
}
.colors__hedy .colorVar__alt ,
.presenta .colors__hedy.colorVar__alt {
  --colorBack: #ec4225;
  --colorFore: #f9ffb1;
  --colorAccent: #c5dbe9;
  --colorAlt: #072020;
}




.colors__irma,
.colors__irma .colorVar__main,
.presenta .colors__irma.colorVar__main {
  --colorBack: #ffe600;
  --colorFore: #000;
  --colorAccent: #ff6400;
  --colorAlt: #fff;
}
.colors__irma .colorVar__sec,
.presenta .colors__irma.colorVar__sec {
  --colorBack: #000;
  --colorFore: rgb(255, 230, 0);
  --colorAccent: #fff;
  --colorAlt: rgb(255, 100, 0);
}
.colors__irma .colorVar__alt,
.presenta .colors__irma.colorVar__alt {
  --colorBack: rgb(255, 100, 0);
  --colorFore: #fff;
  --colorAccent: rgb(255, 230, 0);
  --colorAlt: #000;
}



.colors__red,
.colors__red .colorVar__main,
.presenta .colors__red.colorVar__main {
  --colorBack: #fff;
  --colorFore: #FC0D1B;
  --colorAccent:#000;
  --colorAlt: #eee;
}
.colors__red .colorVar__sec,
.presenta .colors__red.colorVar__sec {
  --colorBack: #FC0D1B;
  --colorFore: #fff;
  --colorAccent:#000;
  --colorAlt: #eee;
}
.colors__red .colorVar__alt,
.presenta .colors__red.colorVar__alt {
  --colorBack: #eee;
  --colorFore: #000;
  --colorAccent:#FC0D1B;
  --colorAlt: #fff;
}



.colors__grad1,
.colors__grad1 .colorVar__main,
.presenta .colors__grad1.colorVar__main {
  --colorBack: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  --colorFore: #fff;
  --colorAccent:#8914F8;
  --colorAlt: #eee;
}

.colors__grad1 .colorVar__sec,
.presenta .colors__grad1.colorVar__sec {
  --colorBack: linear-gradient(62deg, #D9AFD9 0%, #97D9E1 100%);
  --colorFore: #fff;
  --colorAccent:#B612B6;
  --colorAlt: #eee;
}
.colors__grad1 .colorVar__alt,
.presenta .colors__grad1.colorVar__alt {
  --colorBack: linear-gradient(62deg, #0093E9 0%, #80D0C7 100%);
  --colorFore: #fff;
  --colorAccent:#166A9C;
  --colorAlt: #fff;
}



.colors__grad2,
.colors__grad2 .colorVar__main,
.presenta .colors__grad2.colorVar__main {
  --colorBack: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  --colorFore: #fff;
  --colorAccent:#000;
  --colorAlt: #eee;
}


.colors__grad2 .colorVar__sec,
.presenta .colors__grad2.colorVar__sec {
  --colorBack: linear-gradient(147deg, #52ACFF 25%, #FFE32C 100%);
  --colorFore: #fff;
  --colorAccent:#000;
  --colorAlt: #eee;
}

.colors__grad2 .colorVar__alt,
.presenta .colors__grad2.colorVar__alt {
  --colorBack: linear-gradient(147deg, #21D4FD 0%, #B721FF 100%);
  --colorFore: #fff;
  --colorAccent:#000;
  --colorAlt: #fff;
}



.colors__grad3,
.colors__grad3 .colorVar__main,
.presenta .colors__grad3.colorVar__main {
  --colorBack: linear-gradient(120deg, #ffecd2 0%, #fcb69f 100%);
  --colorFore: #000;
  --colorAccent:#fff;
  --colorAlt: #eee;
}

.colors__grad3 .colorVar__sec,
.presenta .colors__grad3.colorVar__sec {
  --colorBack: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --colorFore: #000;
  --colorAccent:#fff;
  --colorAlt: #eee;
}

.colors__grad3 .colorVar__alt,
.presenta .colors__grad3.colorVar__alt {
  --colorBack: linear-gradient(120deg, #cfd9df 0%, #e2ebf0 100%);
  --colorFore: #000;
  --colorAccent:#fff;
  --colorAlt: #fff;
}





.colors__trend1,
.colors__trend1 .colorVar__main,
.presenta .colors__trend1.colorVar__main {
  --colorBack: #0054dbcb;
  --colorFore: #fffb91;
  --colorAccent:#f44b37;
  --colorAlt: #bfe6d4;
}

.colors__trend1 .colorVar__sec,
.presenta .colors__trend1.colorVar__sec {
  --colorBack: #fffb91;
  --colorFore: #0054dbcb;
  --colorAccent:#bfe6d4;
  --colorAlt: #f44b37;
}

.colors__trend1 .colorVar__alt,
.presenta .colors__trend1.colorVar__alt {
  --colorBack: #bfe6d4;
  --colorFore: #f44b37;
  --colorAccent:#0054dbcb;
  --colorAlt: #fffb91;
}






.colors__trend2,
.colors__trend2 .colorVar__main,
.presenta .colors__trend2.colorVar__main {
  --colorBack: #c1f20f;
  --colorFore: #252626;
  --colorAccent:#ff00a1;
  --colorAlt: #0b30fb;
}

.colors__trend2 .colorVar__sec,
.presenta .colors__trend2.colorVar__sec {
  --colorBack: #0b30fb;
  --colorFore: #c1f20f;
  --colorAccent:#ff00a1;
  --colorAlt: #252626;
}

.colors__trend2 .colorVar__alt,
.presenta .colors__trend2.colorVar__alt {
  --colorBack: #252626;
  --colorFore: #c1f20f;
  --colorAccent:#0b30fb;
  --colorAlt: #ff00a1;
}




.colors__trend3,
.colors__trend3 .colorVar__main,
.presenta .colors__trend3.colorVar__main {
  --colorBack: #3d6d79;
  --colorFore: #e0e2ee;
  --colorAccent:#d69d66;
  --colorAlt: #ffffff;
}

.colors__trend3 .colorVar__sec,
.presenta .colors__trend3.colorVar__sec {
  --colorBack: #e0e2ee;
  --colorFore: #3d6d79;
  --colorAccent:#d69d66;
  --colorAlt: #ffffff;
}

.colors__trend3 .colorVar__alt,
.presenta .colors__trend3.colorVar__alt {
  --colorBack: #d69d66;
  --colorFore: #e0e2ee;
  --colorAccent:#3d6d79;
  --colorAlt: #ffffff;
}





.colors__trend4,
.colors__trend4 .colorVar__main,
.presenta .colors__trend4.colorVar__main {
  --colorBack: #1d1d1d;
  --colorFore: #fef335;
  --colorAccent:#0053e1;
  --colorAlt: #ff4617;
}

.colors__trend4 .colorVar__sec,
.presenta .colors__trend4.colorVar__sec {
  --colorBack: #fef335;
  --colorFore: #0053e1;
  --colorAccent:#ff4617;
  --colorAlt: #1d1d1d;
}

.colors__trend4 .colorVar__alt,
.presenta .colors__trend4.colorVar__alt {
  --colorBack: #0053e1;
  --colorFore: #ff4617;
  --colorAccent:#fef335;
  --colorAlt: #1d1d1d;
}






.colors__trend5,
.colors__trend5 .colorVar__main,
.presenta .colors__trend5.colorVar__main {
  --colorBack: #cea5ad;
  --colorFore: #cbff00;
  --colorAccent:#000000;
  --colorAlt: #72aabb;
}

.colors__trend5 .colorVar__sec,
.presenta .colors__trend5.colorVar__sec {
  --colorBack: #cbff00;
  --colorFore: #000000;
  --colorAccent:#cea5ad;
  --colorAlt: #72aabb;
}

.colors__trend5 .colorVar__alt,
.presenta .colors__trend5.colorVar__alt {
  --colorBack: #72aabb;
  --colorFore: #cbff00;
  --colorAccent:#000000;
  --colorAlt: #cea5ad;
}




