
.block {
  width: 100%;
  height: 100%;
  flex: 1;
  flex: var(--blockweight);
  overflow: hidden;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: var(--backcolor);
  padding: var(--blockpadding);
  opacity: var(--blockopacity);
  mix-blend-mode: var(--blockblend);
}
