

.block {
  background: var(--colorBack);
  
  width: 100%;
  height: 100%;
  flex: 1;
  flex: var(--blockWeight);
  overflow: hidden;

  position: relative;
}

.inner {
  width: 100%;
  height: 100%;
  padding: var(--blockPadding);
  opacity: var(--blockOpacity);
  mix-blend-mode: var(--blockBlend);
}


.bdecoration,
.inner{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.fdecoration{
  pointer-events: none;
}