:root{
    --containerPadding: 0;
}

.mainwrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    outline: none;
}

.superContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: var(--containerPadding);
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container > div{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}