.presenta * {
  box-sizing: border-box;
}


.presenta {
  position: relative;
  /* width: 100%;
    height: 100%; */
  
  --pw: 960;
  --w: 960px;
  --h: 540px;
  --vp: 960;
  --fz: 1;
  --p: calc(var(--pw) / var(--vp));
  /* --sw: calc(var(--w) / var(--p) / var(--fz));
  --sh: calc(var(--h) / var(--p) / var(--fz));
  --scal: calc(var(--pw) / var(--p) / var(--pw) / var(--fz)); */
}




:root{
  --fontHeading: Georgia, "Times New Roman", Times, serif;
  --fontText: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


:root,
.colorvar__a {
  --backcolor: #fff;
  --forecolor: #000;
  --accentcolor: #444;
  --otheraccentcolor: #ddd;
  --overlaycolor: var(--backcolor);
}
.colorvar__b {
  --backcolor: #000;
  --forecolor: #fff;
  --accentcolor: #999;
  --otheraccentcolor: #ccc;
  --overlaycolor: var(--backcolor);
}
.colorvar__c {
  --backcolor: #444;
  --forecolor: #ffffff;
  --accentcolor: #fff;
  --otheraccentcolor: #ccc;
  --overlaycolor: var(--backcolor);
}





.layout__block .blocksContainer {
  display: block;
}
.layout__block .blocksContainer > div {
  height: initial;
}

.layout__rows .blocksContainer {
  display: flex;
  flex-direction: column;
}
.layout__rows .blocksContainer > div {
  width: 100%;
}

.layout__stack .blocksContainer {
  position: relative;
}
.layout__stack .blocksContainer > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



