@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');
.fonts__h{
  --fontHeading: 'Staatliches', cursive;;
  --fontText: 'Montserrat', sans-serif;;
}

.fonts__h h1,
.fonts__h h2,
.fonts__h h3,
.fonts__h h4,
.fonts__h h5,
.fonts__h h6 {
  line-height: 90%;
}