@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');
.fonts__heron{
  --fontHeading: 'Staatliches', cursive;;
  --fontText: 'Montserrat', sans-serif;;
}

.fonts__heron h1,
.fonts__heron h2,
.fonts__heron h3,
.fonts__heron h4,
.fonts__heron h5,
.fonts__heron h6 {
  line-height: 90%;
}