.entersItem{
    transition: opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1),
        transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: center;
}

.fadeIn{
    opacity: 0!important;
    transition-timing-function: ease-in-out;
}

.zoomOut{
    opacity: 0!important;
    transform: scale(1.3)!important;
}

.zoomIn{
    opacity: 0!important;
    transform: scale(.7)!important;
}

.slideUp{
    opacity: 0!important;
    transform: translateY(40px)!important;
}

.slideDown{
    opacity: 0!important;
    transform: translateY(-40px)!important;
}